In [10]:
import numpy as np
import pandas as pd

In [11]:
books=pd.read_csv("books_1.Best_Books_Ever.csv")
Book=pd.read_csv("Books.csv")
users = pd.read_csv("Users.csv")
Ratings_users = pd.read_csv("Ratings.csv")

C:\Users\MOHAMMED ABID\AppData\Local\Temp\ipykernel_28652\3201514788.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  Book=pd.read_csv("Books.csv")

In [12]:
Book

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [13]:
users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [14]:
Ratings_users

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [15]:
print(books.shape)
print(Book.shape)
print(Ratings_users.shape)
print(users.shape)

(52478, 25)
(271360, 8)
(1149780, 3)
(278858, 3)

In [16]:
books.isnull().sum()

bookId                  0
Book-Title              0
series              29008
author                  0
rating                  0
description          1338
language             3806
ISBN                    0
genres                  0
characters              0
bookFormat           1473
edition             47523
pages                2347
publisher            3696
publishDate           880
firstPublishDate    21326
awards                  0
numRatings              0
ratingsByStars          0
likedPercent          622
setting                 0
coverImg              605
bbeScore                0
bbeVotes                0
price               14365
dtype: int64

In [17]:
books.duplicated().sum()

50

In [18]:
new_books = books.merge(Book,on='Book-Title')
new_books

,bookId,Book-Title,series,author,rating,description,language,ISBN_x,genres,characters,...,bbeScore,bbeVotes,price,ISBN_y,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",...,2269402,23328,NaN,0446310786,Harper Lee,1988,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...
1,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",...,2269402,23328,NaN,0446310492,Harper Lee,1985,Warner Books,http://images.amazon.com/images/P/0446310492.0...,http://images.amazon.com/images/P/0446310492.0...,http://images.amazon.com/images/P/0446310492.0...
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",...,2269402,23328,NaN,0060935464,Harper Lee,2002,Perennial Classics,http://images.amazon.com/images/P/0060935464.0...,http://images.amazon.com/images/P/0060935464.0...,http://images.amazon.com/images/P/0060935464.0...
3,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",...,2269402,23328,NaN,0397001517,Harper Lee,1960,Harpercollins,http://images.amazon.com/images/P/0397001517.0...,http://images.amazon.com/images/P/0397001517.0...,http://images.amazon.com/images/P/0397001517.0...
4,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",...,2269402,23328,NaN,006017322X,Harper Lee,1995,HarperCollins Publishers,http://images.amazon.com/images/P/006017322X.0...,http://images.amazon.com/images/P/006017322X.0...,http://images.amazon.com/images/P/006017322X.0...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27186,42923.The_Nightingale_s_Song,The Nightingale's Song,NaN,Robert Timberg,4.25,Robert Timberg weaves together the lives of An...,English,9780684826738,"['History', 'Nonfiction', 'War', 'Military Fic...",[],...,2,1,4.22,0380815699,Kathleen Eschenburg,2001,HarperTorch,http://images.amazon.com/images/P/0380815699.0...,http://images.amazon.com/images/P/0380815699.0...,http://images.amazon.com/images/P/0380815699.0...
27187,96337.The_Conservationist,The Conservationist,NaN,Nadine Gordimer,3.36,Mehring is rich. He has all the privileges and...,English,9780140047165,"['Fiction', 'Africa', 'South Africa', 'Nobel P...",[],...,1,1,1.12,0140047166,Nadine Gordimer,1983,Penguin Books,http://images.amazon.com/images/P/0140047166.0...,http://images.amazon.com/images/P/0140047166.0...,http://images.amazon.com/images/P/0140047166.0...
27188,243854.Vacuum_Flowers,Vacuum Flowers,NaN,Michael Swanwick,3.80,"Among the vanguard of today's boldest writers,...",English,9780441858767,"['Science Fiction', 'Cyberpunk', 'Fiction', 'S...",['Rebel Elizabeth Mudlark'],...,1,1,4.41,0441858767,Michael Swanwick,1997,Ace Books,http://images.amazon.com/images/P/0441858767.0...,http://images.amazon.com/images/P/0441858767.0...,http://images.amazon.com/images/P/0441858767.0...
27189,37169.The_Delta_Star,The Delta Star,NaN,Joseph Wambaugh (Goodreads Author),3.67,A cheap hooker named Missy Moonbeam takes a fa...,English,9780553273861,"['Fiction', 'Mystery', 'Crime', 'Novels', 'Hum...",[],...,1,1,3.52,0553273868,Joseph Wambaugh,1987,Bantam Books,http://images.amazon.com/images/P/0553273868.0...,http://images.amazon.com/images/P/0553273868.0...,http://images.amazon.com/images/P/0553273868.0...
27190,11836711-anasazi,Anasazi,Sense of Truth #2,Emma Michaels,4.19,"'Anasazi', sequel to 'The Thirteenth Chime' by...",English,9999999999999,"['Mystery', 'Young Adult']",[],...,0,1,NaN,044102260X,Dean Ing,1980,Ace Books,http://images.amazon.com/images/P/044102260X.0...,http://images.amazon.com/images/P/044102260X.0...,http://images.amazon.com/images/P/044102260X.0...

## For the top 10 user rated books

In [19]:
user_rate = Ratings_users.merge(Book,on = 'ISBN') #Here we are merging the book database with pic with the user ratings dataset

In [20]:
num_rates = user_rate.groupby('Book-Title').count()['Book-Rating'].reset_index() #Here book rating stands for number of ratings
num_rates

                                               Book-Title  Book-Rating
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [21]:
avg_rates = user_rate.groupby('Book-Title').mean()['Book-Rating'].reset_index() 
avg_rates.rename(columns = {'Book-Rating' : 'avg_rating'}, inplace=True) #Here we finding the average number of ratings 
avg_rates

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241068                                Ã?Â?sterlich leben.    7.000000
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

In [22]:
popul = avg_rates.merge(num_rates,on = 'Book-Title')
popul

,Book-Title,avg_rating,Book-Rating
0,A Light in the Storm: The Civil War Diary of ...,2.250000,4
1,Always Have Popsicles,0.000000,1
2,Apple Magic (The Collector's series),0.000000,1
3,"Ask Lily (Young Women of Faith: Lily Series, ...",8.000000,1
4,Beyond IBM: Leadership Marketing and Finance ...,0.000000,1
...,...,...,...
241066,Ã?Â?lpiraten.,0.000000,2
241067,Ã?Â?rger mit Produkt X. Roman.,5.250000,4
241068,Ã?Â?sterlich leben.,7.000000,1
241069,Ã?Â?stlich der Berge.,2.666667,3
241070,Ã?Â?thique en toc,4.000000,2

In [23]:
top_20 = popul[popul['Book-Rating']>=200].sort_values('avg_rating',ascending=False).head(20)
top_20

,Book-Title,avg_rating,Book-Rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),5.852804,428
80422,Harry Potter and the Goblet of Fire (Book 4),5.824289,387
80441,Harry Potter and the Sorcerer's Stone (Book 1),5.737410,278
80426,Harry Potter and the Order of the Phoenix (Boo...,5.501441,347
60582,Ender's Game (Ender Wiggins Saga (Paperback)),5.409639,249
80414,Harry Potter and the Chamber of Secrets (Book 2),5.183453,556
191612,The Hobbit : The Enchanting Prelude to The Lor...,5.007117,281
187377,The Fellowship of the Ring (The Lord of the Ri...,4.948370,368
80445,Harry Potter and the Sorcerer's Stone (Harry P...,4.895652,575
211384,"The Two Towers (The Lord of the Rings, Part 2)",4.880769,260
219741,To Kill a Mockingbird,4.700000,510
183573,The Da Vinci Code,4.642539,898
187880,The Five People You Meet in Heaven,4.551163,430
180556,The Catcher in the Rye,4.545657,449
204672,"The Return of the King (The Lord of the Rings,...",4.497630,211
196326,The Lovely Bones: A Novel,4.468726,1295
190081,The Great Gatsby,4.458537,205
764,1984,4.454225,284
144165,Prodigal Summer: A Novel,4.450593,253
128670,Neverwhere,4.449057,265

In [24]:
pop = top_20.merge(Book ,on = 'Book-Title').drop_duplicates('Book-Title')

In [25]:
pop = pop[['Book-Title','Book-Rating','Book-Author','Image-URL-M']]
pop

,Book-Title,Book-Rating,Book-Author,Image-URL-M
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...
3,Harry Potter and the Goblet of Fire (Book 4),387,J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...
5,Harry Potter and the Sorcerer's Stone (Book 1),278,J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...
9,Harry Potter and the Order of the Phoenix (Boo...,347,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...
13,Ender's Game (Ender Wiggins Saga (Paperback)),249,Orson Scott Card,http://images.amazon.com/images/P/0312853238.0...
17,Harry Potter and the Chamber of Secrets (Book 2),556,J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...
20,The Hobbit : The Enchanting Prelude to The Lor...,281,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339681.0...
21,The Fellowship of the Ring (The Lord of the Ri...,368,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339703.0...
30,Harry Potter and the Sorcerer's Stone (Harry P...,575,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...
32,"The Two Towers (The Lord of the Rings, Part 2)",260,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339711.0...
43,To Kill a Mockingbird,510,Harper Lee,http://images.amazon.com/images/P/0446310786.0...
51,The Da Vinci Code,898,Dan Brown,http://images.amazon.com/images/P/0385504209.0...
57,The Five People You Meet in Heaven,430,Mitch Albom,http://images.amazon.com/images/P/0786868716.0...
59,The Catcher in the Rye,449,J.D. Salinger,http://images.amazon.com/images/P/0316769487.0...
66,"The Return of the King (The Lord of the Rings,...",211,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339738.0...
76,The Lovely Bones: A Novel,1295,Alice Sebold,http://images.amazon.com/images/P/0316666343.0...
77,The Great Gatsby,205,F. Scott Fitzgerald,http://images.amazon.com/images/P/185326041X.0...
79,1984,284,George Orwell,http://images.amazon.com/images/P/0451524934.0...
88,Prodigal Summer: A Novel,253,Barbara Kingsolver,http://images.amazon.com/images/P/0060959037.0...
89,Neverwhere,265,Neil Gaiman,http://images.amazon.com/images/P/0380789019.0...

In [26]:
# new_books.to_csv("new_books.csv")
# pop.to_csv("popular_books.csv")

## Content based Recommender